{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    <ul>
        <li><a href="{{ url('home') }}">Without a call to getContent()</a></li>
        <li><a href="{{ url('with_content') }}">With a call to getContent()</a></li>
    </ul>
</div>
{% endblock %}
